@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

#datas {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 16px;
  font-weight: bolder;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.form {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 200px;
  margin-right: 200px;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 40px;
  padding-bottom: 0px;
}

.input-name {
  margin-top: -20px;
}

.name,
.nationality,
.input-edit {
  text-transform: capitalize;
}

input {
  border: 1px solid #000;
  width: 300px;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  outline: none;
}

.input-age-style {
  width: 50px;
}

.buttons {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 20px;
}

.btn {
  width: 60px;
  height: 30px;
  font-size: 14px;
  font-weight: bolder;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
}

.btn-save {
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-weight: bolder;
  margin-right: 10px;
  border-radius: 2px;
}

.btn-cancel {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.tb {
  padding-top: 10px;
}

table {
  max-width: 1280px;
  min-width: 900px;
  margin: 10px auto;
}

thead th {
  font-weight: 400;
  background: #000;
  color: #fff;
  text-align: center;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #fff;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #eee;
}

th,
td {
  text-align: left;
  padding: 20px;
  font-weight: 300;
}

tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}

.fa-trash {
  display: flex;
  align-content: center;
  align-items: center;
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  cursor: pointer;
  color: #000;
}

.fa-pen {
  cursor: pointer;
  color: #000;
}

.fa-check-square {
  display: flex;
  align-content: center;
  align-items: center;
  position: absolute;
  margin-top: 2px;
  margin-left: 0;
  cursor: pointer;
  color: #000;
}

.fa-window-close {
  cursor: pointer;
  color: #000;
}

.pointer {
  cursor: pointer;
}

.input-edit {
  width: 100%;
}

.input-email-style {
  width: 180px;
}
